<div class="d-flex justify-content-center mb-5">
  <div class="d-flex flex-column justify-content-start w-50">
    <div class="mb-3">
      <h4>Create new rent</h4>
    </div>

    <form class="px-4 py-4 bg-light d-flex justify-content-between align-items-end border">
      <div>
        <label for="bike-name" class="form-label">Bike name</label>
        <input type="text" class="form-control" id="bike-name" placeholder="Name" />
      </div>
      <div>
        <label for="bike-type" class="form-label">Bike type</label>
        <select class="form-select" id="bike-type">
          <option selected>Open this select menu</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>

      <div>
        <label for="bike-price" class="form-label">Bike price</label>
        <input type="number" class="form-control" id="bike-price" placeholder="Price" />
      </div>

      <div>
        <input type="submit" class="btn btn-success" value="Submit sent" />
      </div>
    </form>
  </div>
</div>
