<div class="d-flex justify-content-center">
  <div class="d-flex flex-column justify-content-start w-50">
    <div class="mb-3">
      <h4>Available bicycles({{freeBikesCount}})</h4>
    </div>

    <div class="d-flex align-items-center justify-content-between bg-light border px-4 py-3 my-2" *ngFor="let freeBike of bikes">
      <div>
        <p>{{freeBike.name}} / {{freeBike.type}} / ${{freeBike.price}}</p>
      </div>

      <div>
        <button class="btn btn-primary mx-2" (click)="changeStatus(freeBike.id)">Rent</button>
        <button class="btn btn-warning mx-2" (click)="updateBike(freeBike.id, freeBike)">Update</button>
        <button class="btn btn-danger ms-2" (click)="deleteBike(freeBike.id)">Delete</button>
      </div>
    </div>
  </div>

</div>
