<div class="d-flex justify-content-center mb-5">
  <div class="d-flex flex-column justify-content-start w-50">
    <div class="mb-3">
      <h4>Your rent(Total: ${{totalCost}}) - Count of rented bikes: {{rentedBikesCount}}</h4>
    </div>

    <div class="d-flex align-items-center justify-content-between bg-light border px-4 py-3 my-2" *ngFor="let rentedBike of bikes">
      <div>
        <p>{{rentedBike.name}} / {{rentedBike.type}} / ${{rentedBike.price}}</p>
      </div>

      <div>
        <button class="btn btn-danger" (click)="changeStatus(rentedBike.id)">Cancel rent</button>
      </div>
    </div>
  </div>

</div>
